body {
    background-color: rgb(0,0,0,0);
    font-family: "times new roman";
}
a:link {
    color:#717375
}
a:visited {
    color: #717375
}
a:hover{
    color:orange
}
#navigator{
    font-family: "knowledge-medium", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: grey;
    border-top: black 1px;
    border-bottom: grey solid 1px;
}
#navigator ul {
    list-style: none;
    text-align: center;
    display: inline-block;
    padding-right: 16%;
    padding-left: 15%;
    padding-bottom: 2%;
    padding-top: 2%;
    height: 10px;
}
#navigator span{
    display: inline-block;
}
#navigator li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px
}
#logo {
    display: inline-block;
    margin-left: 3%;
    /* margin-top: 0; */
    padding-top: 1%;
}
.publicity {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
#main-header {
    margin-right: 30%;
    margin-left: 10%;
}
.sign {
    height: 50px;
}
.sign p {
    color: black;
    font-size: 12px;
}
.float-right{
    float: right;
}
.float-right p {
    margin-top: 8px;
    margin-right: 11px;
    font-size: 12px;
    color: #717375;
    letter-spacing: 2px;
    font-family: 'knowledge-medium', sans-serif;
}
.article-header {
    letter-spacing: 1px;
    font-size: 11px;
    display: inline-block;
}
.article-header span{
    font-family: "knowledge-regular", sans-serif;
    color: #717375;
}
.article-header a{
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
}
#title h1{
    font-size: 35px;
    font-family: 'knowledge-medium', sans-serif;
    color: #3f3f40;
}
.button{
    background: transparent;
    cursor: pointer;
    font-size: 100%;
    display: inline-block;
}
.article-body {
    font-family: "freight-book", serif;
    font-size: 16px;
    padding-left: 10%;
    padding-right: 0%;
    margin-right: 30%;
    text-align: justify;
}
.article-body h2{
    font-size: 22px;
    margin-top: 60px;
}
.article-image{
    margin-left: -12%
}

.article-body p{
    color: #313132;
    font-size: 21px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.in-article-link{
    border-bottom: 1px dotted #128fdd;
    text-decoration: none;
}

#article-footer {
    color: #717375;
    font-size: 16px;
    font-family: "freight-book", serif;
}
#article-footer p{
    color: #717375 !important;
    font-size: 16px !important;
    font-family: "freight-book", serif;
}
#floating-sideline {
    position: sticky;
    top: 0;
    float: right;
    width: 20%;
    padding:0 30px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "knowledge-regular", sans-serif;
    color: #717375;
}
#floating-sideline h5{
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 11px;
    margin-bottom: 3%;
}
#floating-sideline ul {
    list-style: none;
    padding-left: 0%;
    font-size: 13px;
}
#floating-sideline li {
    font-size: 100%;
    font-family: "knowledge-regular", sans-serif;
    color: #717375; 
    padding-top: 10%;
}
#floating-sideline a{
    text-decoration: none;
}
.main-footer{
    margin-top: 5%;
    margin-left: 0%;
    color: #717375;
    font-size: small;
}
.main-footer a{
    text-decoration: none;
}